{% extends 'base.html' %}

{% block content %}

<h1> edit training </h1>
        
<table>    
<form action='/trainings/{{training.id}}' method='POST'>
    <tr>
        <td><label for='training_name'>training name</label></td>
        <td><input type="text" id='training_name' name='training_name' value='{{training.training_name}}'required autofocus></td>
    </tr>
    <tr>
        <td><label for='time'>time</label></td>
        <td><input type="text" id='time' name='time' value='{{training.time}}'required autofocus default='{{training.time}}'></td>
    </tr>
    <tr>
        <td><label for='duration'>duration</label></td>
            <td><input type="duration" id='duration' name='duration' value='{{training.duration}}'required autofocus></td>
    </tr>
    <tr>
        <td><label for='intensity'>intensity</label></td>
            <td><select id='intensity' name='intensity'>
                <option value='0'>none</option>
                <option value='5'>low</option>
                <option value='10'>medium</option>
                <option value='20'>high</option>
            </select>
            <button type='submit' class='submit'>update training</button></td>
</table>

{% endblock %}