{% extends 'base.html' %}

{% block content %}

<p class="button">
    <a class="button" href="/trainings/new">add new training</a>
    <table>
        <tr>
            <th>training</th>
            <th>time</th>
            <th>duration (minutes)</th>
            <th>intensity</th>
        </tr>
        {% for training in trainings %}
        <tr>
            <td><a href='/trainings/{{training.id}}'>{{training.training_name}}</a></td>
            <td>{{training.time}}</td>
            <td>{{training.duration}}</td>
            <td>{{training.intensity}}</td>
        </tr>
        {% endfor %}
</div>
{% endblock %}