{% extends 'base.html' %}

{% block content %}

<table>
<form action="/trainings" method="post">
    <tr>
        <td><label for='training_name'>exercise:</label></td>
        <td><input type='text' name='training_name' required autofocus></td>
      </tr>

    <tr>
       <td><label for="time">time</label></td>
        <td><input type='text' id="time" value=":" name="time" required text-align='center'></td>
    </tr>

    <tr>
        <td><label for="duration">Duration:</label></td>
        <td><input type="number" id="duration" name="duration" placeholder="Duration" required min="1" max="59"></td>
    </tr>

      <tr>
        <td><label for='intensity'>intensity</label>></td>
        <td><select id='intensity' name="intensity">
            <option value='none'>none</option>
            <option value='low'>low</option>
            <option value='medium'>medium</option>
            <option value='high'>high</option>
        </select>
        <button type='submit'> add training</button></td>
        </tr>
</table>
{% endblock %}