{% extends 'base.html' %}

{% block content %}
<h1> {{training.training_name}} </h1>




<table class='button-table'> 
    <tr>
    <td><form action="/trainings/{{ training.id }}/edit" method="POST">
        <input class="button" type="submit" value="edit"></form></td>
    <td> <form action="/trainings/{{ training.id }}/delete" method="POST">
        <input class="button" type="submit" value="delete" onclick= "return confirm('confirm deleting {{training.training_name}}?')"></form></td>
    </tr>
</table>

<h2> details </h2>

<table>
    <tr>
        <th>start time:</th>
        <th>duration(minutes):</th>
        <th>intensity: </th>
    </tr>
    <tr>
    <td><p>{{training.time}}</p></td>
    <td><p>{{training.duration}}</p></td>
    <td><p>{{training.intensity}}</p></td>
    </tr>
</table>

<h2> players assigned </h2>

<table>
    <tr>
        <th>name</th>
        <th>fatigue</th>
        <th>functions</th>
    </tr>
    {% for assignment in players_trainings %}
    <tr>
        <td><a href='/players/{{assignment.player.id}}'>{{assignment.player.name}}</a></td>
        <td>{{assignment.player.fatigue}}</td>
        <td><form action="/player_trainings/{{assignment.id}}/delete" method='POST'></a>
        <input class='button' type='remove'></td>        
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}