{% extends 'base.html' %}

{% block content %}
<h1> {{training.training_name}} </h1>
<p><a href='/trainings/{{training.id}}/edit'>edit</a></p>
<form action="/trainings/{{ training.id }}/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" onclick= "return confirm('confirm deleting {{training.training_name}}?')">
    <a class="btn btn--action" href="/player_trainings/new">New assignment</a>
<div>
    <p>{{training.time}}</p>
    <p>{{training.duration}}</p>
    <p>{{training.intensity}}</p>
</div>

<table>
    <tr>
        <th>name</th>
        <th>fatigue</th>
        <th>functions</th>
    </tr>
    {% for assignment in players_trainings %}
    <tr>
        <td>{{assignment.player.name}}</td>
        <td>{{assignment.player.fatigue}}</td>
        <td><form action="/player_trainings/{{assignment.id}}/delete" method='POST'></a><input type='submit' value="remove"></td>        
    </tr>
    {% endfor %}
</table>

{% endblock %}