{% extends 'base.html' %}

{% block content %}


<p class="button">
    <a class="button" href="/players/new">add a new player</a>
</p>

<table>
    <tr>
        <th>player name</th>
        <th>shirt number</th>
        <th>position</th>
        <th>fatigue</th>
        <th>match fit</th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href='/players/{{player.id}}'>{{player.name}}</a></td>
        <td>{{player.shirt_no}}</td>
        <td>{{player.position}}</td>
        <td>{{player.fatigue}}</td>
        {% if player.fatigue > 50 %}
        <td>no</td>
        {% else %}
        <td>yes</td>
        {% endif %}
    </tr>
        {% endfor %}
</table>
{% endblock %}