{% extends 'base.html' %}

{% block content %}
<h1> {{player.name }} </h1>
<p><a href='/players/{{player.id}}/edit'>edit</a></p>
<form action="/players/{{ player.id }}/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" onclick= "return confirm('confirm deleting {{player.name}}?')">

<div> 
    <p>{{player.shirt_no}}</p>
    <p>{{player.position}}</p>
    <p>{{player.fatigue}}</p>
    {% if player.fatigue >= 60 %}
        <p> match fit?: ❌</p>
        {% elif player.fatigue <= 59 %}
        <p>match fit?: ✅</p>
        {% endif %}
</div>

<table>
    <tr>
        <th>training exercise</th>
        <th>Duration</th>
        <th>time</th>
    </tr>
    {% for assignment in trainings %}
    <tr>
        <td><a href='/player_trainings/{{assignment.id}}'>{{assignment.training_name}}</a></td>
        <td>{{assignment.duration}}</td>
        <td>{{assignment.time}}</td>
    </tr>
    {% endfor %}
</div>

{% endblock %}
