{% extends 'base.html' %}

{% block content %}
<h1> {{player.name }} </h1>
<p><a href='/players/{{player.id}}/edit'>edit</a></p>
<form action="/players/{{ player.id }}/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" />

<div> 
    <p>{{player.shirt_no}}</p>
    <p>{{player.position}}</p>
    <p>{{player.fatigue}}</p>
    {% if player.fatigue >= 60 %}
        <p> match fit?: ❌</p>
        {% elif player.fatigue <= 59 %}
        <p>match fit?: ✅</p>
        {% endif %}
</div>

{% endblock %}