{% extends 'base.html' %}

{% block content %}
<h1> {{player.name }} </h1>

<p><a href='/players/{{player.id}}/edit'>edit</a></p>
<form action="/players/{{ player.id }}/delete" method="POST">
    <input class="button-delete" type="submit" value="delete" onclick= "return confirm('confirm deleting {{player.name}}?')">

<div> 
    <table>
        <tr>
            <td>
                <div class='container'>
        <img src='{{ url_for('static', filename='/images/shirt.png') }}' id='shirt-png'>
        <div class='centered'>{{player.shirt_no}}</div> </td>
    </div>
    <td>
    <p>position: {{player.position}}</p>
    <p>fatigue: {{player.fatigue}}</p>
    </td>
    <td>
    {% if player.fatigue >= 60 %}
        <p> match fit?: ❌</p>
        {% elif player.fatigue <= 59 %}
        <p>match fit?: ✅</p>
        {% endif %}</td>
</div>

<table>
    <tr>
        <th>training exercise</th>
        <th>Duration</th>
        <th>time</th>
    </tr>
    {% for assignment in trainings %}
    <tr>
        <td><a href='/trainings/{{assignment.id}}'>{{assignment.training_name}}</a></td>
        <td>{{assignment.duration}}</td>
        <td>{{assignment.time}}</td>
    </tr>
    {% endfor %}
</div>

{% endblock %}
