h1 {
    font-family: 'Aclonica', sans-serif;
    font-size:4rem;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    background-color:rgb(243, 243, 243);
    margin: 0px;
}

table {
    table-layout: fixed;
    padding: 16px;
    margin:16px;
}

table > tr > th {
    font-size: 2rem;
    text-align:left
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:6rem;
}

#shirt-png {
    height:200px;
}

div > #show {
    display: flex;
    flex-direction: grid;
    padding:16px
}

td {
    font-size:2rem;
}

nav {
    width: 110%;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    flex-flow: row;
    align-items: center;
    font-size: 1.5rem;
    background-color:rgb(210, 210, 210);
}

ul > li {
    list-style: none;
    display: inline-flex;
    margin:16px;
}

ul > li > a {
    text-decoration: none;
    color: black;
}

ul > li > a:hover {
    text-decoration: underline;
}

nav > img{
    height: 100px;
}

#logo-text > a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 6px black;
    font-size:2rem;
}

#logo-text > a:hover{
    animation-name: logo-;
    animation-duration:10s;
    animation-iteration-count: infinite;
}

@keyframes logo- {
    0% {text-shadow: 0px 0px 12px black;}
    15% {text-shadow: 0px 0px 12px hotpink;}
    25% {text-shadow: 0px 0px 24px cyan;}
    50% {text-shadow: 0px 0px 12px hotpink;}
    75% {text-shadow: 0px 0px 24px cyan;}
}

p {
    font-family: 'Bebas Neue', cursive;
}

div.show {
    font-size:3rem;
}


