<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=Nanum+Gothic:wght@400;700&family=Roboto:ital,wght@0,300;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>armory</title>
    <nav>
        <img src="/static/images/logo.png" alt="logo" id="logo" action='/'>
        <p id="logo-text"><a href='/'>ARMORY</a></p>
        <ul>
            <li>
                <a href="/"> home </a>
            </li>
            <li>
                <a href="/players">players</a>
            </li>
            <li>
                <a href="/trainings">training</a>
            </li>
            <li>
                <a href="/">current squad</a>
            </li>
        </ul>
    </nav>
</head>
<body>
    {% block content %}

    {% endblock %} 
</body>