{% extends 'base.html' %}

{% block content %}

<h1> welcome to armory</h1>

<h2>functions</h2>

<table class='button-table'> 
    <tr>
    <td><p>
        <a class="button" href="/player_trainings/new">new assignment</a>
      </p></td>
      <td><p>
        <a class="button" href="/players/new">new player</a></p></td>
        <td><p>
            <a class="button" href="/trainings/new">new training</a></td>
    </tr>
</table>

<h2>players currently assigned to training sessions</h2>
  
<table>
    <tr>
        <th>training exercise</th>
        <th>players assigned</th>
        <th>fatigue</th>
        <th>comments</th>
    </tr>
{%for assignment in player_training %}
<tr>
    <td><a href='/trainings/{{assignment.training.id}}'>{{assignment.training.training_name}}</a>
    </td>
    <td><a href='/players/{{assignment.player.id}}'>{{assignment.player.name}}</a></td>
    <td>{{assignment.player.fatigue}}</td>
    <td>{{assignment.comments}}</td>
</tr>
{% endfor %}


{% endblock %}