{% extends 'base.html' %}

{% block content %}

<h1> assign a player to training </h1>


    
    

    
 

    




    <table>    
        <form action='/player_trainings' method='POST'>
                    <tr>
                        <td><label for='player'> select a player</label></td>
                        <td><select name='player_id' id='player'>
                            {% for player in players %}
                            <option value='{{player.id}}'>{{player.name}}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for='training'>select training</label></td>
                        <td>   <select name='training_id' id='training'>
                            {% for training in trainings %}
                            <option {% if selected_id == training.id %} selected {% endif %} value='{{training.id}}'>{{training.training_name}}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for='comments'>add a comment</label></td>
                            <td>    <textarea name='comments' id='comments' cols='30' rows='10'></textarea>
                                <input type='submit' value='assign' onclick= "return confirm('confirm assignment?')"></td>
                    </tr>
                </table>
    


{% endblock %}